.ant-input-group-addon {
    background: red;
}

.container .filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container .filter .action .create {
    margin-right: 5px;
}

.container .filter .search .ant-input-group-wrapper .ant-input-wrapper .ant-input-group-addon {
    background: #1677ff;
}

.container .filter .search .ant-input-group-wrapper .ant-input-wrapper .ant-input-group-addon:hover {
    background-color: #3f96ff;
}